// app global css in SCSS form
@font-face {
  font-family: VisueltPro;
  src: url(./fonts/VisueltPro-Regular.woff);
}

// declare a class which applies it
* {
  font-family: 'VisueltPro', serif;
}

#main-layout {
  height: 1000px;
}

@media (min-width: 850px) {
  #main-layout {
    height: 1000px;
    width: auto;
    margin: 0 15%;
  }
}

::-webkit-scrollbar {
  display: none;
}

.my-card a {
  text-decoration: none;
  color: unset;
}
