// app global css in SCSS form
#main-layout {
  height: 1000px;
}

@media (min-width: 850px) {
  #main-layout {
    height: 1000px;
    width: auto;
    margin: 0 15%;
  }
}

::-webkit-scrollbar {
  display: none;
}
