<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="telephone=no" name="format-detection">
  <meta content="no" name="msapplication-tap-highlight">
  <meta
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    name="viewport">

  <link href="icons/favicon-128x128.png" rel="icon" sizes="128x128" type="image/png">
  <link href="icons/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
  <link href="icons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
  <link href="icons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
  <link href="favicon.ico" rel="icon" type="image/ico">
  <script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
      m[i] = m[i] || function () {
        (m[i].a = m[i].a || []).push(arguments)
      };
      m[i].l = 1 * new Date();
      k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(89847387, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true,
      webvisor: true
    });
  </script>
  <noscript>
    <div><img alt="" src="https://mc.yandex.ru/watch/89847387" style="position:absolute; left:-9999px;"/></div>
  </noscript>
</head>
<body>
<!-- DO NOT touch the following DIV -->
<div id="q-app"></div>
</body>
</html>
